.containerProductPage{
    padding-top: 80px;
    padding-bottom: 80px;
}
.figure-img{
    width: 400px;
    height: auto;
}
.priceOfProductPage{
    color: #e7ab3c;
    text-align: left;
}
/* ---------------Circles------------------- */
.colorSelection{
    display: inline-flex;
    cursor: pointer;
}
.colorHeading{
    padding-top: 8px;
    padding-right: 30px;
    font-size: 18px;
}
.colorCircles:after{
    display: block;
    content: '';
    border-bottom: solid 2px black;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}
.colorCircles:hover:after{
    transform: scaleX(1);
}
.dot1{
    background-color:black;
    border-radius: 50%;
    display: inline-block;
    margin-top: 10px;
    border: #c2c2d6 solid 1px;
    border-width: thin;
    height: 25px;
    width: 25px;
}
.dot2{
    background-color:white;
    border-radius: 50%;
    display: inline-block;
    margin-top: 10px;
    border: #c2c2d6 solid 1px;
    border-width: thin;   
    height: 25px;
    width: 25px;
}
.dot3{
    background-color:blue;
    border-radius: 50%;
    display: inline-block;
    margin-top: 10px;
    border: #c2c2d6 solid 1px;
    border-width: thin;
    height: 25px;
    width: 25px;
}
.dot4{
    background-color:yellow;
    border-radius: 50%;
    display: inline-block;
    margin-top: 10px;
    border: #c2c2d6 solid 1px;
    border-width: thin;
    height: 25px;
    width: 25px;
}
/* ---------------Circles------------------- */
/* ---------------Sizes------------------- */
.sizeSelection{
    display:  inline-flex;
    padding-top: 18px;
    padding-bottom: 30px;
}
.sizeHeading{
    padding-right: 41px;
    font-size: 18px;
}
.size{
    margin-right: 25px;
    cursor: pointer;
}
.sizeOptions{
    padding-top: 2px;
}

@media screen and (min-width: 1200px){
    .photoContainer{
        padding-left: 25%;
    }
    .detailsContainer{
        padding-right: 10%;
    }
}
@media screen and (max-width: 576px){
    .photoContainer{
        text-align: center;
    }
}

.addToCartBtn{
    font-size: 100%;
    margin-bottom: 3px;
    width: auto;
    color: white;
    background-color: black;
    padding: 5px 15px 5px 15px;
    border: none;
    text-align: center;
    outline: none;
}
.addToCartBtn:hover{
    opacity: 0.7;
}
.categoryContainer{
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 16px;
}
.categoryTitle{
    font-weight: bold;
}
.colorTitle{
    font-weight: bold;
}
.sizeTitle{
    font-weight: bold;
}
.skuTitle{
    font-weight: bold;
}
.shareTitle{
    font-weight: bold;
    padding-right: 8px;
}
.skuContainer{
    padding-bottom: 20px;
}
.shareContainer{
    font-size: 17px;
    display: inline-flex;
    box-sizing: border-box;
    justify-content: space-between;
    margin-right: 0px;
    padding-right: 10px;
    max-width: 120px;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 50%;
}
.shareContainer > a{
    padding-right: 10px;
}