.containerStyle{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 350px;
    align-items: center;
    position: relative;
    margin-bottom: 8%;
}
.image{
    background-size: cover;
    background-position: center;
}
.image:hover{
    opacity: 0.8;
}
.nameOfProduct{
    width: 100%;
    text-align: center;
    color: black;
    font-size: 22px;
}
.priceOfProduct{
    width: 100%;
    text-align: center;
    color: #e7ab3c;
    font-size: 18px;
    font-weight: 700;
}
.customButton{
    width: auto;
    opacity: 0.7;
    position: absolute;
    top: 255px;
    font-size: 100%;
}
.customButton:hover{
    opacity: 0.85;
    display: flex;
}
