.previewCollectionInfo{
    padding-bottom: 4%;
}
@media screen and (max-width: 894px){
    .previewCollectionInfo{
        padding-bottom: 50px;
    }
}
.collectionContainer{
    padding-top: 70px;
}
@media screen and (max-width: 580px){
    .collectionContainer{
        padding-top: 10%;
    }
}
.headingCollection{
    padding-left: 0px;
    margin-left: 0px;
    padding-right: 0px;
    padding-bottom: 30px;
    width: 100%;
}
.heading-collection{
    background-color: #e7ab3c;
    margin: auto;
}
@media screen and (max-width: 576px) and (min-width: 350px) {
    .heading-collection{
        width: 60%;
    }
}
@media screen and (max-width: 768px) and (min-width: 576px) {
    .heading-collection{
        width: 40%;
    }
}
@media screen and (max-width: 992px) and (min-width: 768px) {
    .heading-collection{
        width: 20%;
    }
}
@media screen and (min-width: 992px){
    .heading-collection{
        width: 20%;
    }
}
