.backgroundImageAbout{
    width: 100%;
    height: 200px;
}
.aboutUsBanner{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-image: url('../../assets/aboutbackground.svg');
    height: 130px;
    font-size: 2.90rem;
    font-weight: 500;
    color: white;
}
.split-screen{
    padding-bottom: 50px;
    padding-top: 50px;
    padding-right: 50px;
    padding-left: 50px;
}
.testimonials-container{
    padding-top: 30px;
    padding-bottom: 30px;
}
.testimonials-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}
.whoweare-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}
.ourpartners-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}
.leftColumn{
    padding-bottom: 30px;
}
.whoweare-subtitle{
    font-weight: 600;
}
.text-about{
    color: #8c8c8c;
}
.lines{
    /* border-color: yellow; */
    width: 100px;
    height: 5px;
    border: none;
    background-color: #e6e600;
    color:  #e6e600;
}